In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [2]:
tb = pd.read_csv('StudentsPerformance.csv')
tb.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [3]:
tb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [4]:
tb.duplicated().sum()

np.int64(0)

In [8]:
tb["average_score"] = (tb["math score"] + tb["reading score"] + tb["writing score"] ) / 3
tb.head()

   gender race/ethnicity  ... writing score average_score
0  female        group B  ...            74     72.666667
1  female        group C  ...            88     82.333333
2  female        group B  ...            93     92.666667
3    male        group A  ...            44     49.333333
4    male        group C  ...            75     76.333333

[5 rows x 9 columns]

In [6]:
tb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
 8   average_score                1000 non-null   float64
dtypes: float64(1), int64(3), object(5)
memory usage: 70.4+ KB

In [9]:
tb = tb.drop(columns=["math score", "reading score", "writing score"])
tb.head()

   gender race/ethnicity  ... test preparation course average_score
0  female        group B  ...                    none     72.666667
1  female        group C  ...               completed     82.333333
2  female        group B  ...                    none     92.666667
3    male        group A  ...                    none     49.333333
4    male        group C  ...                    none     76.333333

[5 rows x 6 columns]

In [11]:
y = tb["average_score"]
x = tb.drop(columns=["average_score"], axis=1)
x = pd.get_dummies(data=x, columns=["gender", "race/ethnicity", "parental level of education", "lunch", "test preparation course"], drop_first=True, dtype=int)

In [15]:
x = sm.add_constant(x)
model = sm.OLS(endog=y, exog=sm.add_constant(x)).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          average_score   R-squared:                       0.242
Model:                            OLS   Adj. R-squared:                  0.233
Method:                 Least Squares   F-statistic:                     26.30
Date:                Wed, 26 Nov 2025   Prob (F-statistic):           7.55e-52
Time:                        15:55:05   Log-Likelihood:                -3937.0
No. Observations:                1000   AIC:                             7900.
Df Residuals:                     987   BIC:                             7964.
Df Model:                          12
Covariance Type:            nonrobust
=================================================================================================================
                                                    coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------
const                                            66.9408      1.775     37.714      0.000      63.458      70.424
gender_male                                      -3.7242      0.795     -4.682      0.000      -5.285      -2.163
race/ethnicity_group B                            1.5290      1.612      0.949      0.343      -1.634       4.691
race/ethnicity_group C                            2.3855      1.509      1.581      0.114      -0.576       5.347
race/ethnicity_group D                            5.1258      1.540      3.329      0.001       2.104       8.147
race/ethnicity_group E                            6.9285      1.708      4.056      0.000       3.577      10.280
parental level of education_bachelor's degree     2.5356      1.424      1.781      0.075      -0.259       5.330
parental level of education_high school          -5.1725      1.230     -4.206      0.000      -7.586      -2.759
parental level of education_master's degree       4.0922      1.838      2.227      0.026       0.486       7.698
parental level of education_some college         -0.9275      1.182     -0.785      0.433      -3.248       1.393
parental level of education_some high school     -4.5400      1.264     -3.592      0.000      -7.020      -2.060
lunch_standard                                    8.7751      0.827     10.605      0.000       7.151      10.399
test preparation course_none                     -7.6386      0.830     -9.201      0.000      -9.268      -6.009
==============================================================================
Omnibus:                       12.572   Durbin-Watson:                   2.043
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               12.915
Skew:                          -0.274   Prob(JB):                      0.00157
Kurtosis:                       2.897   Cond. No.                         12.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""